<nav id="navigation">
  | <a href="/">Home</a> |
  <a href="/media">Media</a> |
  <a href="/subscribers/new">Subscribe</a> |
  <a href="/subscribers">Subscribers</a> |
  <a href="/users">Users</a> |
  <a href="/users/new">register</a> |
  <a class="btn btn-sm btn-danger" role="button" href="/users/login" >Login</a> 
</nav>