<nav class="navabr navbar-inverse"
style="
    position:fixed;
    top:0px;
    width: 100%;
    "
>
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">TorilTaas</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/products/new">Add product</a></li>
      <li><a href="/products">All products</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/users/new">Register</a></li>
      <li id="chatLink"><a href="/chat">Chat ✉️</a></li>
      </ul>
    </ul>
  </div>
</nav>

<% if (loggedIn) { %>
  <div class="loggedinText">
      Logged in as <a href="<%=`/users/${currentUser._id}`%>">
          <%= currentUser.fullname %></a>
  </div>
  <a class="btn btn-danger navbar-btn navigationButton" role="button" href="/users/logout" >Logout</a>
  <%} else {%>
    <a class="btn btn-danger navbar-btn navigationButton" role="button" href="/users/login" >Login</a>
  <% } %>