<div class="input-group">
    <div class="form-outline">
      <input type="search" id="form1" class="form-control" />
      <label class="form-label" for="form1">Search</label>
    </div>
    <button type="button" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>
  </div>


<table class="tableIndex">
    <tr>
        <th>Osastot</th>
    </tr>
    <tr>
        
            <td class="tdIndex">
                <a href="/products/search?category=furniture">
                <div id="furniture" class="categoryBackgroundImage"></div>
                <p class="categorytext">Furniture</p>
                </a>
            </td>
        <td class="tdIndex">
            <a href="/products/search?category=electronics">
            <div id="electronics" class="categoryBackgroundImage"></div>
            <p class="categorytext">Electronics</p></a>
        </td>

        <td class="tdIndex">
            <a href="/products/search?category=clothes">
            <div id="clothes" class="categoryBackgroundImage"></div>
            <p class="categorytext">Clothes</p></a>
        </td>
    </tr>
    <tr>
        <td class="tdIndex">
            <a href="/products/search?category=freeTime">
            <div id="freetime" class="categoryBackgroundImage"></div>
            <p class="categorytext">Freetime</p></a>
        </td>
        <td class="tdIndex">
            <a href="/products/search?category=sports">
            <div id="sports" class="categoryBackgroundImage"></div>
            <p class="categorytext">Sports</p></a>
        </td>
        <td class="tdIndex">
            <a href="/products/search?category=others">
            <div id="others" class="categoryBackgroundImage"></div>
            <p class="categorytext">Others</p></a>
        </td>
    </tr>
</table>