<div class="input-group">
    <div class="form-outline">
      <input type="search" id="form1" class="form-control" />
      <label class="form-label" for="form1">Search</label>
    </div>
    <button type="button" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>
  </div>


<table class="tableIndex">
    <tr>
        <th>Sections</th>
    </tr>
    <tr>
        <td class="tdIndex">
            <div id="furniture" class="categoryBackgroundImage"></div>
            <p class="categorytext">Furniture</p>
        </td>

        <td class="tdIndex">
            <div id="electronics" class="categoryBackgroundImage"></div>
            <p class="categorytext">Electronics</p>
        </td>

        <td class="tdIndex">
            <div id="clothes" class="categoryBackgroundImage"></div>
            <p class="categorytext">Clothes</p>
        </td>
    </tr>
    <tr>
        <td class="tdIndex">
            <div id="freetime" class="categoryBackgroundImage"></div>
            <p class="categorytext">Freetime</p>
        </td>
        <td class="tdIndex">
            <div id="sports" class="categoryBackgroundImage"></div>
            <p class="categorytext">Sports</p>
        </td>
        <td class="tdIndex">
            <div id="others" class="categoryBackgroundImage"></div>
            <p class="categorytext">Others</p>
        </td>
    </tr>
</table>