<div class="input-group rounded">
    <input type="search" class="form-control rounded searchbar" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <button class="buttonbar btn btn-danger">🔎</button>
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
</div>


<table class="tableIndex">
    <tr>
        <th>Sections</th>
    </tr>
    <tr>
        <td class="tdIndex">
            <div id="furniture" class="categoryBackgroundImage"></div>
            <p class="categorytext">Furniture</p>
        </td>

        <td class="tdIndex">
            <div id="electronics" class="categoryBackgroundImage"></div>
            <p class="categorytext">Electronics</p>
        </td>

        <td class="tdIndex">
            <div id="clothes" class="categoryBackgroundImage"></div>
            <p class="categorytext">Clothes</p>
        </td>
    </tr>
    <tr>
        <td class="tdIndex">
            <div id="freetime" class="categoryBackgroundImage"></div>
            <p class="categorytext">Freetime</p>
        </td>
        <td class="tdIndex">
            <div id="sports" class="categoryBackgroundImage"></div>
            <p class="categorytext">Sports</p>
        </td>
        <td class="tdIndex">
            <div id="others" class="categoryBackgroundImage"></div>
            <p class="categorytext">Others</p>
        </td>
    </tr>
</table>