<% product.forEach(element => { %>
    <ul id="subsList">
        <lh><%= element.name %></lh>
        <li><%= element.description %></li>
        <li><%= element.image %></li>
        <li><%= element.owner %></li>
    </ul>
<% }); %>