<% subscriber.forEach(element => { %>
    <ul id="subsList">
        <lh><%= element.name %></lh>
        <li><%= element.email %></li>
        <li><%= element.zipCode %></li>
        <li><%= element.vip %></li>
    </ul>
<% }); %>