<p class="block text-center">
    Im sorry looks like there was A HUGE ERROR.
    Error 500.
</p>
<img class="block text-center" style="width: 20vw; margin-left: 40vw; margin-top: 10px;" src="https://key0.cc/images/preview/84356_23eaa8484023412b780b1dd579cc283f.png" alt="Error">