<div class="data-form inputFormLogin">
    <form action="/users/login" method="POST">
      <h2>Login to TorilTaas</h2>
    </br>
      <label class="inputFormLabel" for="inputEmail">Email address</label>
      <input class="form-control" type="email" name="email" id="inputEmail" placeholder="Email address" required>
      <label class="inputFormLabel" for="inputPassword">Password</label>
      <input class="form-control" type="password" name="password" id="inputPassword" placeholder="Password" required>
      </br>
      </br>
      <button class="btn btn-lg btn-danger btn-block" type="submit">Login</button>
    </form>
  </div>